<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap-theme.min.css" />
        <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <title><%= $site->title %></title>
    </head>
    <body>
        <div class="container">
            % if ( @{ $site->nav } ) {
            <ul>
                % for my $nav ( @{ $site->nav } ) {
                <li><a href="<%= $nav->{href} %>"><%= $nav->{title} %></a></li>
                % }
            </ul>
            % }
            <%= $content %>
        </div>
    </body>
</html>
