% for my $p ( @$pages ) {
<section>
    <hgroup>
        <h1><a href="<%= $p->{path} %>"><%= $p->{title} %></a></h1>
        <h2><%= $p->{author} %></h2>
    </hgroup>
    <article>
    <%= $p->{content} %>
    </article>
</section>
% }
