
<div class="row">

    <div class="col-md-9">
        <main>
            % for my $p ( @$pages ) {
            <article>
                <hgroup>
                    <h1><a href="<%= $p->{path} %>"><%= $p->{title} %></a></h1>
                    <h2><time datetime="<%= $p->{published}->strftime('%Y-%m-%d') %>">
                        <%= $p->{published}->strftime('%Y-%m-%d') %>
                    </time></h2>
                    <h2><%= $p->{author} %></h2>
                </hgroup>
                <%= $p->{content} %>
            </article>
            % }
        </main>
        <ul class="pager">
            <li class="previous <%= !$next ? 'disabled' : '' %>">
                % if ( $next ) {
                <a href="<%= $next %>">&larr; Older</a>
                % }
                % else {
                <span>&larr; Older</span>
                % }
            </li>
            <li class="next <%= !$prev ? 'disabled' : '' %>">
                % if ( $prev ) {
                <a href="<%= $prev %>">Newer &rarr;</a>
                % }
                % else {
                <span>Newer &rarr;</span>
                % }
            </li>
        </ul>
    </div>

    <div class="col-md-3">
        <nav id="tags">
            <h1>Tags</h1>
            <ul class="list-inline">
            % for my $tag ( $app->tags ) {
                <li><a href="<%= $tag->{href} %>"><%= $tag->{title} %></a></li>
            % }
            </ul>
        </nav>
    </div>

</div>
